.genre-view {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.genre-view__title {
  font-size: 26px;
  font-weight: 600;
}

.genre-view__info__description-label {
  font-size: 20px;
  font-weight: 600;
}

.genre-view__info__movie-list-label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.genre-view__title-line__nav {
  margin: 10px;
}
