.director-view {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(236, 239, 240);
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: -90px;
  margin-right: -90px;
}

.director-view__title {
  font-size: 26px;
  font-weight: 600;
}

.director-view__info__description-label {
  font-size: 20px;
  font-weight: 600;
}

.director-view__info__movie-list-label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
